.header{
    text-align: center;
    
}
.top{
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);

    display: block;
    font-family: 'Poppins', sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size:110%;
    /*position: sticky;*/
    top: 0;
    opacity: 97%;
    
}
.content{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    text-align: center;
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 110%
    

    
}
.content_description{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    text-align: center;
    display:block;
    font-family: 'Poppins', sans-serif;
    font-size: 110%
    

    
}
a:link {
    text-decoration: none;
    background-color: transparent;
  }
.footer{
    font-family: 'Poppins', sans-serif;
}
.date{
    background-color: rgb(243, 243, 243);
    float: inline-end;
}
.description{
    background-color: white;
    padding:1%;
    text-align: center;
}
.picture{
    padding: 0.5%;

    max-width: 50%;
    max-height: 50%;

}
.icon{
    max-width: 3%;
    max-height: 3%;
    min-width: 5%;
    min-height: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text{
    margin: 2%;

}
iframe {
    height: 825px;
    width: 825px;
    resize: both;
    overflow: auto;
  }
.iframe_two{
    height: 425px;
    width: 825px;
    resize: both;
    overflow: auto;
  }